@font-face {
  font-family: "noir-medium";
  src: font-url("noir-medium.otf");
}

@font-face {
  font-family: "portico-vintage";
  src: font-url("portico-vintage.otf");
}

@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,700');
